@charset "utf-8";
/* JavaScript Lab: DOM - Part 1 */
#container{
	width: 800px;
	margin: 0 auto;
	padding-top: 20px;
	background: #ff2222;
}

#topPic{
	width:598px; 
	margin: 0 auto;
}

#gallery{
	padding: 10px;
	background: #c0c0c0;

}
#gallery img{
	margin-left: 40px;
	margin-bottom: 10px;
}